---
const {Codigo_de_compra,Nombre, Precio_unitario, Cantidad, Descuento, Proveedor, Encargado_de_compra, Fecha } = Astro.props;
---

<tr class="border-b flex justify-between  ">
  <td class="p-2"><input class="rounded-sm" type="checkbox" /></td>
  <td class="p-2">{Codigo_de_compra}</td>
  <td class="p-2">{Nombre}</td>
  <td class="p-2">{Precio_unitario}</td>
  <td class="p-2">{Cantidad}</td>
  <td class="p-2">{Descuento}</td>
  <td class="p-2">{Proveedor}</td>
  <td class="p-2">{Encargado_de_compra}</td>
  <td class="p-2">{Fecha}</td>
</tr>
