---
import ProviderRow from "./dataProvi.astro";

const fetchData = async () => {
  try {
    const response = await fetch('http://localhost:8080/proveedores'); 
    if (!response.ok) throw new Error('Network response was not ok');
    const data = await response.json();
    console.log(data); 
    return data;
  } catch (error) {
    console.error('Error al obtener los datos:', error);
    return [];
  }
};

const getDocumentType = (type) => {
  switch(type) {
    case 1:
      return "Cédula";
    case 2:
      return "NIT";
    default:
      return "Desconocido";
  }
};

const providers = await fetchData();
---

<h1 class="font-bold font-display text-blue-baby4 text-3xl flex justify-center">Proveedores</h1>

<div class="flex flex-row space-x-2 justify-between m-3">
  <div class="hidden flex items-center space-x-2 md:space-x-4">
    <input
      class="h-8 w-48 md:w-96 rounded-md text-sm"
      type="text"
      placeholder="Buscar..."
    />
    <select class="h-8  rounded-md text-sm" name="filtrar" id="">
      <option value="">Nombre </option>
      <option value=""> Encargado </option>
      <option value="">Documento</option>
      <option value="">Correo</option>
    </select>
  </div>

</div>
<div class="flex flex-row justify-end p-2">
  <div
    class="flex flex-row p-1 bg-blue-baby4 text-white rounded-md font-display hover:bg-blue-baby3"
  >
    <img
      class="m-1"
      src="../../../public/img/white/register-shopping.svg"
      alt=""
    />
  <a href="/rProviders">
    <button>Registrar proveedores</button>

  </a>
  </div>
  <button id="btnDelete" class="m-2">
    <img class="" src="../../../public/img/black/trash.svg" alt="" />
  </button>

</div>
<table class="min-w-full bg-white border border-gray-200">
  <thead>
    <tr class="border-b text-justify">
      <th class="p-2">Nombre</th>
      <th class="p-2">Encargado</th>
      <th class="p-2">Numero.Doc</th>
      <th class="p-2">Tipo documento</th>
      <th class="p-2">Telefono</th>
      <th class="p-2">Correo</th>
      <th class="p-2">Dirección</th>
    </tr>
  </thead>

  <tbody>
    {providers.map((provider) => (
      <ProviderRow
        name={provider.nombre}
        encargado={provider.encargado}
        nit={provider.numerodocumento}
        tipeDocument={getDocumentType(provider.iddocumento)}
        email={provider.correoelectronico}
        telefono={provider.numerotelefono}
        address={provider.direccion}
      />
    ))}
  </tbody>
</table>
<div id="deleteModal" class=" hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-end z-50">
  <div class="bg-white p-6 rounded-lg shadow-lg w-96">
    <h2 class="text-xl font-bold mb-4 text-center font-display text-blue-baby4">Eliminar Proveedor</h2>
    <input id="documentInput" type="text" class="rounded-md border p-2 w-full mb-4" placeholder="Ingrese número de documento" />
    <span id="errorMsg" class="text-red-500 text-sm hidden">Usuario no encontrado</span>
    <div class="flex justify-end space-x-2 flex item-center">
      <button id="closeModal" class="bg-black text-white px-4 py-2 rounded ">Cerrar</button>
      <button id="deleteProvider" class="bg-blue-baby3 text-white px-4 py-2 rounded hover:bg-red-600">Eliminar Proveedor</button>
    </div>
  </div>
</div>

<div
  id="modal-successxx"
  class="fixed inset-0 bg-gray-600 bg-opacity-50 flex items-end p-5 justify-end hidden"
>
  <div class="bg-white rounded-md shadow-lg flex flex-row w-96 p-2">
    <img class="w-9 h-auto p-2" src="../../../../public/img/Check.svg" alt="" />
    <p class="text-green-600 p-2">Proveedor eliminado</p>
  </div>
</div>

<div
  id="modal-errorxx"
  class="fixed inset-0 bg-gray-600 bg-opacity-50 flex items-end p-5 justify-end hidden"
>
  <div class="bg-white rounded-md shadow-lg flex flex-row w-96 p-2">
    <img class="w-9 h-auto p-2" src="../../../../public/img/Error.svg" alt="" />
    <p class="text-rojing p-2">Error al eliminar proveedor</p>
  </div>
</div>

<script src="../../../js/tablaProveedores"></script>