---
const { name, nit, email, address, status } = Astro.props;
---
<tr class="border-b flex justify-between">
  <td class="p-2"><input class="rounded-sm" type="checkbox" /></td>
  <td class="p-2">{name}</td>
  <td class="p-2">{nit}</td>
  <td class="p-2">{email}</td>
  <td class="p-2">{address}</td>
  <td class="p-2">
    <span class={status === 'Activo' ? 'text-green-500' : 'text-red-500'}>{status}</span>
  </td>
</tr>
