---
const { name, last_name, email, status, rol } = Astro.props;
---
<tr class="border-b flex justify-around  ">
  <td class="p-2">{name}</td>
  <td class="p-2">{last_name}</td>
  <td class="p-2">{email}</td>
  <td class="p-2">{rol}</td>
  <td class="p-2">
    <span class={status === 'Activo' ? 'text-green-500' : 'text-red-500'}>{status}</span>
  </td>
</tr>
