---
import DataAdmin from "./dataAdmin.astro";

// Realiza el fetch a tu endpoint
const fetchData = async () => {
  try {
    const response = await fetch('http://localhost:8080/usuarios'); // Ajusta la URL según sea necesario
    if (!response.ok) throw new Error('Network response was not ok');
    const data = await response.json();
    console.log(data); // Muestra los datos en la consola
    return data;
  } catch (error) {
    console.error('Error al obtener los datos:', error);
    return [];
  }
};

// Función para mapear idrol a descripciones
const getRoleDescription = (idrol) => {
  switch (idrol) {
    case 1:
      return "superadmin";
    case 2:
      return "administrador";
    default:
      return "desconocido"; // Valor por defecto si idrol no coincide
  }
};

const providers = await fetchData();
---

<h1 class="text-3xl flex justify-center mt-5 font-bold font-display text-blue-baby4">Administradores</h1>

<div class="flex flex-row space-x-2 justify-between m-3">
  <div class="flex items-center space-x-2 md:space-x-4">
    <input
      class="h-8 w-48 md:w-96 rounded-md text-sm"
      type="text"
      placeholder="Buscar..."
    />
  </div>
  <div class="flex flex-row">
    <div
      class="flex flex-row p-1 bg-blue-baby4 text-white rounded-md font-display hover:bg-blue-baby3"
    >
      <img
        class="m-1"
        src="../../../public/img/white/register-shopping.svg"
        alt=""
      />
      <a href="/signup">
        <button>Registrar administrador</button>
      </a>
    </div>
    <div class="p-2 hover:border border-red-700 rounded-sm">
      <img class="" src="../../../public/img/black/trash.svg" alt="" />
    </div>
  </div>
</div>

<table class="min-w-full bg-white border border-gray-200">
  <thead>
    <tr class="border-b text-justify">
      <th class="p-2">Nombre</th>
      <th class="p-2">Apellido</th>
      <th class="p-2">Correo</th>
      <th class="p-2">Rol</th>
    </tr>
  </thead>
  <tbody>
    {providers.map((provider) => (
      <tr key={provider.idusuario} class="border-b">
        <td class="p-2">{provider.nombre}</td>
        <td class="p-2">{provider.apellido}</td>
        <td class="p-2">{provider.correo}</td>
        <td class="p-2">{getRoleDescription(provider.idrol)}</td> <!-- Muestra la descripción del rol -->
      </tr>
    ))}
  </tbody>
</table>
